body{
	margin: 0;
	padding: 0;
	background: url("loginbk.jpg");
}

.sea-bar input[type="text"] {
	float: center;
	position: fixed;
    left: 92px;
    top: 2%;
    border-width: 3px;
    border-color: #a4b2b2;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    height: 6%;
    width: 67%;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    box-shadow: 0 8px 6px -6px black;
}

.first .ok button{
	float: center;
	position: fixed;
	left: 73%;
	background: #1E90FF;
	width: 10%;
	font-size: 20px;
	color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 6%;
	top: 3%;
	box-shadow: 0 8px 6px -6px black;
}

.weatherReport{
  width: 53%;
  height: 650px;
  background: url("xyz.jpg");
  color: #fff;
  top: 53%;
  left: 67%;
  position: fixed;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  box-shadow: 0 8px 6px -6px black;
}

.weatherReport label{
  margin: 0%;
  padding: 0;
  top: 0%;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.image{
  width: 35%;
  height: 650px;
  background: url("hi.jpg");
  color: #fff;
  top: 53%;
  left: 23%;
  position: fixed;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  box-shadow: 0 8px 6px -6px black;
}

.image label{
  margin: 5%;
  padding: 0;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 90px;
}
.first .log-out button{
  float: center;
  position: fixed;
  left: 1425px;
  background: #1E90FF;
  width: 10%;
  font-size: 20px;
  display: inline;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 6%;
  top: 3%;
  box-shadow: 0 8px 6px -6px black;
}
